@font-face {
  font-family: "Mansalva-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Mansalva-Regular.woff2") format("woff2"),
    url("../fonts/Mansalva-Regular.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Mansalva-Regular", Tahoma, sans-serif;
  font-size: 2rem;
  text-align: center;
}

.container {
	user-select: none;
	position: relative;
	margin: 0 auto;
  max-width: 90vw;
  cursor: pointer;
}

#piano {
  position: relative;
  mix-blend-mode: soft-light;
  z-index: 2;
}

.piano-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}


#r-1 path {
  fill: cyan;
  animation: play 3s infinite ease-in-out;
  animation-delay: 0.5s;
}

#r-2 {
	fill: red;
  animation: play 3s infinite ease-in-out;
  animation-delay: -0.7s;
}

#r-3 {
  fill: darkorchid;
  animation: play 3s infinite ease-in-out;
  animation-delay: 1.1s;
}

#r-4 {
  fill: greenyellow;
  animation: play 3s infinite ease-in-out;
  animation-delay: -1.3s;
}

#r-5 {
  fill: orangered;
  animation: play 3s infinite ease-in-out;
  animation-delay: 1.7s;
}

#r-6 {
  fill: salmon;
  animation: play 3s infinite ease-in-out;
  animation-delay: -1.9s;
}

#r-7 {
  fill: olivedrab;
  animation: play 3s infinite ease-in-out;
  animation-delay: 2.3s;
}

#r-8 {
  fill: mediumturquoise;
  animation: play 3s infinite ease-in-out;
  animation-delay: -2.9s;
}

#r-9 {
  fill: lightblue;
  animation: play 3s infinite ease-in-out;
  animation-delay: 3.1s;
}

#r-10 {
  fill: ivory;
  animation: play 3s infinite ease-in-out;
  animation-delay: -4.7s;
}

#piano path:active {
  opacity: 0.5;
}

@keyframes play {
  95% {fill: white}
}